@import "tailwindcss";

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: #06121B;
	color: white;
	font-family: "Roboto", sans-serif;
	position: absolute;
}

.hide-scrollbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.play-btn {
	clip-path: polygon(100% 50%, 0 0, 0 100%);
}